{% extends "@User/Default/index.html.twig" %}
{% block slide %}
    <div class="inner_page-banner one-img">
    </div>
    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                <li>
                    <a href="#">Index</a>
                    <span>/</span>
                </li>
                <li>Mes propres livraisons</li>
            </ul>
        </div>
    </div>

{% endblock %}
{% block body %}
    {#{{ form_start(form) }}#}
    <section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <div class="shop_inner_inf">
                <div class="privacy about">
                    <div class="checkout-right-basket">
                        <a href="{{ path("livraison_ajout")}}">Ajouter une nouvelle livraison </a>
                    </div>
                    <h3>Mes<span>Livraison(s) :</span></h3>
                    <h8>Il y a: <span>{{ nb }} livraison(s)</span></h8>

                    <div class="checkout-right">
                        {% if livraisons|length == 0 %}
                            <tr>
                                <h4> <td colspan="7"><center>Vous n'avez aucune livraison !</center></td></h4>
                            </tr>
                        {% endif %}

                        {% if livraisons|length != 0 %}
                            <table class="timetable_sub">
                                <thead>

                                <tr>
                                    <th>Livreur</th>
                                    <th>Commande</th>


                                    <th>Supprimer</th>
                                    {#<th>Modifier</th>#}
                                </tr>
                                </thead>
                                <tbody>



                                {% for livraison in livraisons %}

                                    <tr class="rem1">
                                        <td class="invert">{{ livraison.livreur.nom }}</td>
                                        <td class="invert">{{ livraison.commande.montant }}</td>



                                        <td class="invert">
                                            <div class="rem">
                                                <a href="{{ path("livraison_delete",{'id':livraison.id})}}" ><i
                                                            class="fa fa-times text-danger"></i>
                                                </a>
                                            </div>
                                        </td>

                                        {#<td class="invert">
                                            <div class="col-sm-10">
                                                <a href="{{ path("livraison_update",{'id':livraison.id})}}" ><i
                                                            class="fa fa-edit text-success"></i>
                                                </a>
                                            </div>
                                        </td>
                                        #}
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                    <div class="checkout-left">


                        <div class="clearfix"> </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- //top products -->
        </div>
    </section>




    {#{{ form_end(form) }}#}
    </div>
    </div>

{% endblock %}
{% block login %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>

        {% endif %}
    </div>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}