{% extends "@Admin/Default/back.html.twig" %}


{% block body %}

<link href="{{ asset('css/style.css')}}" rel="stylesheet">

<div class="bs-example widget-shadow" data-example-id="contextual-table">



    <div class="container-contact100">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form" method="post">
    <span class="contact100-form-title">
					Ajouter une palette
				</span>

            {{ form_start(form, { 'noalidate':'novalidate'}) }}

                <label class="input100">Quantité </label>

                        <div class="wrap-input100 ">
                            {{ form_widget(form.qte,{'attr':{'class':'form-control','placeholder':"Saisir la quantité"}}) }}
                            {{ form_errors(form.qte) }}
                        </div>
                <label class="input100">Date d'expiration </label>

                        <div class="wrap-input100 validate-input ">
                            {{ form_widget(form.dateExpiration,{'attr':{'class':'form-control date'}}) }}
                            {{ form_errors(form.dateExpiration) }}
                            <span class="focus-input100"></span>

                        </div>
                <label class="input100 ">Référence de l'article</label>

                        <div class="wrap-input100 ">
                            {{ form_widget(form.refArticle,{'attr':{'class':'form-control','placeholder':"Choisir la rêférence de l'article"}}) }}
                            {{ form_errors(form.refArticle) }}
                        </div>
                <label class="input100">Code de l'emplacement </label>

                        <div class="wrap-input100 ">
                            {{ form_widget(form.codeemp,{'attr':{'class':'form-control','placeholder':"Choisir le code de l'emplacement"}}) }}
                            {{ form_errors(form.codeemp) }}
                        </div>



                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
						<span>
							Ajouter
							<i class="zmdi zmdi-arrow-right m-l-8"></i>
						</span>
                    </button>
                </div>


            {{ form_end(form) }}
            </form>
        </div>
    </div>


</div>






{% endblock %}
