{% extends "@Admin/Default/back.html.twig" %}

{% block body %}
    <link href="{{ asset('css/style.css')}}" rel="stylesheet">

    <div class="bs-example widget-shadow" data-example-id="contextual-table">
        <div class="container-contact100">
            <div class="wrap-contact100">

                <form class="contact100-form validate-form" method="post">

                    <span class="contact100-form-title">Modifier les informations du fournisseur de {{ nomSociete }}</span>


{{ form_start(form) }}

                    <label class="input100">Nom societe</label>
                    <div class="wrap-input100 " >
                        {{ form_widget(form.nomSociete,{'attr':{'class':'form-control','placeholder':"Saisir le nom de la societe du fournisseur"}}) }}
                        {{ form_errors(form.nomSociete) }}
                        <span class="focus-input100"></span>
                    </div>

                    <label class="input100">Cin du fournisseur </label>
                    <div class="wrap-input100">
                        {{ form_widget(form.cin,{'attr':{'class':'form-control','placeholder':"Saisir le cin du fournisseur"}}) }}
                        {{ form_errors(form.cin) }}
                    </div>

                     <label class="input100">Email du fournisseur </label>
                    <div class="wrap-input100">
                    {{ form_widget(form.email,{'attr':{'class':'form-control','placeholder':"Saisir email du fournisseur"}}) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <label class="input100">Adresse du fournisseur </label>
                    <div class="wrap-input100">
                    {{ form_widget(form.adresse,{'attr':{'class':'form-control','placeholder':"Saisir adresse du fournisseur"}}) }}
                            {{ form_errors(form.adresse) }}
                    </div>

                    <label class="input100">Téléphone du fournisseur </label>
                    <div class="wrap-input100">
                    {{ form_widget(form.telephone,{'attr':{'class':'form-control','placeholder':"Saisir le téléphone du fournisseur"}}) }}
                        {{ form_errors(form.telephone) }}
                    </div>

                    <label class="input100">Fax du fournisseur </label>
                    <div class="wrap-input100">
                    {{ form_widget(form.fax,{'attr':{'class':'form-control','placeholder':"Saisir le fax du fournisseur"}}) }}
                            {{ form_errors(form.fax) }}
                    </div>


                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn">
						<span>
							Modifier
							<i class="zmdi zmdi-arrow-right m-l-8"></i>
						</span>
                        </button>
                    </div>

                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}