{% extends "@Admin/Default/back.html.twig" %}

{% block body %}
    <link href="{{ asset('css/style.css')}}" rel="stylesheet">

    <div class="bs-example widget-shadow" data-example-id="contextual-table">
        <div class="container-contact100">
            <div class="wrap-contact100">

                <form class="contact100-form validate-form" method="post">

                    <span class="contact100-form-title">Modifier les informations du livreur {{ nom }}</span>

                    {{ form_start(form) }}

                    <label class="input100">Nom du livreur</label>
                    <div class="wrap-input100 " >
                        {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.nom) }}
                        <span class="focus-input100"></span>
                    </div>

                    <label class="input100">Prenom du livreur </label>
                    <div class="wrap-input100">
                        {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.prenom) }}
                    </div>


                    <label class="input100">Ville du livreur </label>
                    <div class="wrap-input100">
                        {{ form_widget(form.ville,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.ville) }}
                    </div>

                    <label class="input100">Téléphone du livreur </label>
                    <div class="wrap-input100">
                        {{ form_widget(form.telephone,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.telephone) }}
                    </div>


                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn">
						<span>
							Modifier
							<i class="zmdi zmdi-arrow-right m-l-8"></i>
						</span>
                        </button>
                    </div>

                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}